@font-face {
    font-family: 'ColumbaTextRegularPro';
    src:  url('columba-text-regular-pro.woff2') format('woff2')
}


html {
    height: 100vh;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    color: black;
    font-size: 16px;
    background-color: #faf7ed;
    font-family: ColumbaTextRegularPro;
    height: 100%;

    height: 100vh;
    scroll-snap-type: y mandatory;



}






















/* ---------  LANDING PAGE ---------  */

#landingpage {
    height: 100%;


}

#startlogo {
    width: 100%;
    height: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
}

#startlogoLOGOimage {
    width: 360px;
    position:absolute;
    top: calc(50% - 180px);

}

#startlogoNICKTUDORimage {
    width: 300px;
    
}


#slideshowdiv {

    /*scroll-snap-align: start;*/


    width: 100%;
    height: 100%;

    background: url("assets/homepage/homepage_01.jpg") no-repeat center fixed;     
    background-size: cover;
    background-attachment: scroll;

    position:fixed;
    z-index: -1;;


    opacity: 100%;
}




















/* ---------  HOMEPAGE ---------  */

#homepage {

    /*scroll-snap-align: start;*/


    width: 100%;
    height: 100%;
    background-color: #faf7ed;




}
#homepagecontent {
    color: #e52421;
    font-size: 14px;

    /*position:absolute;
    will-change: transform;
    top: 150%;*/

    padding-top: 15%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
    text-align-last: center;
    /*justify-content: center;*/



}

#homepageNICKTUDOR {
    width:100%;
    text-align: center;
}

#homepageLOGO {
    width:100%;
    text-align: center;

}


#homepageNICKTUDORimage {
    width: 150px;
    left:200px;
    
}

#homepageLOGOimage {
    width: 75px;
}
















/* ---------  MENUBAR ---------  */

#menubar {
    width: 100%;
    height: 100vh;
    /*position: -webkit-sticky;*/ /* Safari */
    position: sticky;
    z-index: 3;
    top: 0;
    text-align: center;

    overflow-x: hidden;


    

}

#menubarcontent {
    position: absolute;
    width:100%;
    z-index: 4;

    /*background-color: #9e9c59;*/
}
#menubarlogo {
    padding-top:20px;
    width: 150px;
    margin: auto;
}

#menuicon {
    position: absolute;
    right:14px;
    top:24px;





}




/* ---------  MENU ---------  */
#menu {
    background-color: #cf82b6;
    
    color: #e52421;
    font-size: 26px;
    line-height: 2;

    position: absolute;
    z-index: 2;
    height:100%;
    width:360px;
    right:-400px;

    transition: right 0.5s cubic-bezier(0.0, 0.5, 0.5 ,1.0);
}

#projectcatagorybtns {
    padding-top: 40%;
}

#sustainabilitybtn {
    padding-top: 40%;

}

#informationbtn {
    padding-top: 40%;

}













/* ---------  MAIN SITE FROM MENU DOWNWARDS ---------  */


#mainsite {

    /*scroll-snap-align: start;*/



    position:absolute;
    width: 100%;
    z-index: 2;
    /*height: 1500%;*/
}


#mainsitecontent {


    position:absolute;
    z-index: 1;
}














/* ---------  PROJECTS ---------  */

#projects {
    background-color: #faf7ed;
    position: relative;
    height: fit-content;

}


.project {
    width: 100%;
}

.projectThumbImg {
    width: 100%;
}


















/* ---------  SUSTAINABILITY ---------  */


#sustainabilitypage {


    width: 100%;
    height: 100vh;
    background-color: #9e9c59;
    position: relative;




}

#sustainabilitycontent {

    /*scroll-snap-align: start;*/


}

#sustainabilityimage {

    
    width: 250px;
    margin:auto;
    transform: scaleX(-1);
    position: absolute;
    left: calc(50% - 130px);
    top: calc(50% - 180px);


}



















/* ---------  INFO ---------  */


#infopage {
    width: 100%;
    height: 100vh;
    font-size: 13px;

    background-color: #473416;
    color: #faf7ed;

    position: relative;
}

#infocontent {
    padding: 4%;
    padding-top: 150px;
    font-size: 15px;
    position: relative;

    scroll-snap-type: center;

    
    
}

#infoslideshowwrap {
    width: 100%;
}


#infoslideshowcontainer {
    max-width: 700px;
    margin: auto;
}

#infoslideshow {
    width: 100%;
    position: relative;
    margin: auto;
}

#infotext1 {
    width: 70%;
}

#infoillustration {
    width: 150px;
    transform: scaleX(-1);
    position:absolute;
    right:60px;
    bottom:80px;

}

#infotext2 {
    position:absolute;
    right:0px;
    bottom:0px;
    width: 200px;
}















/* HAMBURGERICON */

#hamburgericon {
    width: 32px;
    height: 30px;
    position: relative;
    margin:  auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: auto;
  }
  
  #hamburgericon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #9d8676;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #hamburgericon span:nth-child(1) {
    top: 0px;
  }
  
  #hamburgericon span:nth-child(2),#hamburgericon span:nth-child(3) {
    top: 11px;
  }
  
  #hamburgericon span:nth-child(4) {
    top: 22px;
  }
  
  #hamburgericon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #hamburgericon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburgericon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #hamburgericon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }





